<!DOCTYPE html>
<html>
<head>
<title>速腾科技销售网络</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.css" />
<script type="text/javascript" src="/js/jquery-latest.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<style type="text/css">
	*{margin: 0;padding:0;}
	html,body{height: 100%;width: 100%;font:20px "微软雅黑";}
	.page-header{text-align: center;}
	.wrap{width: 100%;}
	#banner{margin:30px auto 0 auto;}
	#banner img{display: block;margin:0 auto;}
	.title{background-color: #dcdddd;}
	.name{padding-right: 20px;}
	.area{padding: 10px;}
	.cooperation{background-color: #dcdddd;text-align: center;}
	.cooperation h2{display: inline-block;}
	/*-----------------*/
	.error{text-align: center;line-height: 200px;font-weight: bold;}
</style>
<script type="text/javascript">
	!(function(doc, win) {
		var docEle = doc.documentElement,evt = "onorientationchange" in window ? "orientationchange" : "resize",
		fn = function() {
			var width = docEle.clientWidth;width && (docEle.style.fontSize = 20 * (width / 320) + "px");
		}; 
		win.addEventListener(evt, fn, false);doc.addEventListener("DOMContentLoaded", fn, false); 
	}(document, window));
</script>
</head>
<body>

	<div class="container-fluid">
		<div id="banner"><img src="/images/banner.jpg" alt="banner" /></div>
		<!-- <div class="page-header"><h2>购买渠道</h2></div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2"><h4>您可以通过以下渠道购买到专业的地产全景拍摄设备IPANO：<h4></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 title"><h4>一：华南地区<h4></div>
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="row area">
					<div class="col-xs-4"><span class="company">xxxxx公司</span></div>
					<div class="col-xs-4 col-xs-offset-4"><span class="name">xxxxx</span><span class="tel">121333</span></div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 title"><h4>一：华南地区<h4></div>
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="row area">
					<div class="col-xs-4"><span class="company">xxxxx公司</span></div>
					<div class="col-xs-4 col-xs-offset-4"><span class="name">xxxxx</span><span class="tel">121333</span></div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 title"><h4>一：华南地区<h4></div>
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="row area">
					<div class="col-xs-4"><span class="company">xxxxx公司</span></div>
					<div class="col-xs-4 col-xs-offset-4"><span class="name">xxxxx</span><span class="tel">121333</span></div>
				</div>
			</div>			
		</div> -->
		<div class="error">OOP!网络列表正在整理中...</div>
	</div>
	<!-- <div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 cooperation"><h2>合作加盟</h2></div>
		</div>
		
	</div> -->
</body>
</html>
