<!DOCTYPE html>
<html lang="en">
    <head>
        <title>帮助与反馈</title>
        <meta charset="utf-8">
        <meta name="robots" content="noarchive">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style type="text/css">
        *{margin:0;padding: 0;}
        html{
            width: 100%;
            height: 100%;
        }
        body{
            width: 100%;
            height: 100%;
            margin:0;
            padding: 0;
        }
        a{
            text-decoration: none;
        }
        .search-eare{
            width: 100%;
            height: 45px;
            box-sizing:border-box;
            -webkit-box-sizing:border-box;
            background-color: #adadad;
            border-bottom: 1px solid #000;
            padding: 8px 10px;
        }
        .search-eare .search-1{
            text-align: center;
            height: 29px;
            line-height: 29px;
            font-size: 14px;
            color: #adadad;
            border-radius: 4px;
            background-color: #efeff4;
        }
        .search-eare .search-1 .check-icon{
            width: 15px;
            height: 15px;
            position: relative;
            top: 2px;
        }
        .main-eare{
            width: 100%;
        }
        .main-eare h2.title{
            padding: 12px 15px 12px 15px;
            font-size: 14px;
            height: 14px;
            color: #6d6d6d;
            background-color: #f0eff5;
            font-weight: normal;
        }
        .main-eare ul.question-lists li{
            padding: 12px 15px;
            min-height: 25px;
            cursor: pointer;
            background-color: #fff;
        }
        .main-eare ul.question-lists li .lists-info{
            padding-right: 5px;
            color: #000;
            background:url(../images/next.png) right center no-repeat;
            background-size: 10px; 
            /*border-bottom: 1px solid #adadad;*/
        }
        .main-eare ul.question-lists li .lists-info .title{
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            width: 100%;
            display: block;
            font-size: 16px;
            font-weight: normal;
            padding-right: 8px;
            -webkit-box-sizing: border-box;
        }
        .main-eare ul.question-lists li .result{
            margin-top: 20px;
            padding: 0 10px;
            line-height: 26px;
            display: none;
            color: #6d6d6d;
        }
        .main-eare ul.question-lists li .result img{
            display: block;
            width: 100%;
        }
        .main-eare ul.question-lists li .result a{
            display: block;
            font-size: 18px;
            margin:5px 0;
        }
    </style>
    </head>
    <body>
        <!-- <div class="search-eare">
        <div class="search-1">
            <img class="check-icon" src="images/check.png" />
            搜索
        </div>
    </div> -->
    <div class="main-eare">
        <h2 class="title"><a href="tel:4008601016,3550">常见问题解答</a></h2>
        <ul class="question-lists">
            <li>
                <div class="lists-info">
                    <span class="title">1、买了vip有什么用处</span>
                </div>
                <div class="result">
                    <p>
                        ①　云端存储空间无上限，也就是可以无限量上传房源。<br/>
                        ②　26项针对房地产开发的功能，如VR功能、户型图，个人或公司专属logo和联系方式（防止同行盗图），语音播报，箭头指引等等。<br/>
                        ③　享受后期系统功能的维护和新功能的更新。
                    </p>
                </div>
            </li>
            <li>
                <div class="lists-info">
                    <span class="title">2、忘记拍摄某个场景</span>
                </div>
                <div class="result">
                    <p>先将拍好的全景上传到云端，保持两次房源的房源信息不变，把漏拍的补上后点击保存，把第二次拍摄的房源上传到云端就能解决了。</p>
                </div>
            </li>
            <li>
                <div class="lists-info">
                    <span class="title">3、相机如何拍摄</span>
                </div>
                <div class="result">
                    <p>
                        相机拍摄很简单，打开设备电源，打开app点击快速取景，按照操作进行即可。
                    </p>
                    <!-- <video width="100%" height="240" controls="controls">
                        <source src="http://player.youku.com/embed/XMTUxODM5MTgxMg==" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <video width="100%" height="240" controls="controls">
                        <source src="http://player.youku.com/embed/XMTUxODIzNDAwMA==" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->
                    <a href="http://player.youku.com/embed/XMTUxODM5MTgxMg==">IPANO操作方法演示</a>
                    <a href="http://player.youku.com/embed/XMTUxODIzNDAwMA==">IPANO各项功能介绍（手机版）</a>
                </div>
            </li>
            <li>
                <div class="lists-info">
                    <span class="title">4、如何防止拍摄过曝</span>
                </div>
                <div class="result">
                    <p>室内环境拍室外的情况下由于光强差别过大，无法克服，手机拍也是一样的，拍这类场景的时候最好把ipano设备放置的离窗口近一点，拍出来的效果会好很多。</p>
                </div>
            </li>
            <li>
                <div class="lists-info">
                    <span class="title">5、有时拍摄会出现连接失败</span>
                </div>
                <div class="result">
                    <p>造成连接失败的原因有两种第一是距离过远，中间隔的墙太多，导致传图失败，建议拍摄时不要距离过远；第二是设备快没电了，就会出现wifi不稳定，导致传图失败。建议出门前先把电充满，拍摄完毕后尽快关机储存电量来以此可拍摄更多房源。</p>
                </div>
            </li>
            <li>
                <div class="lists-info">
                    <span class="title">6、vr看房该如何使用</span>
                </div>
                <div class="result">
                    <!-- <p>hahahhahah.........</p> -->
                    <img src="images/pic.png" />
                </div>
            </li>
        </ul>
    </div>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $('.question-lists li .lists-info').on('click',function(){
            $(this).parent().find('.result').slideToggle('fast');
            $(this).parent().siblings().find('.result').slideUp('fast');
        })
    })
    </script>
    </body>
</html>