<!DOCTYPE html>
<html lang="en">
	<head>
		<title>STi RoboPano 后台</title>
		<meta charset="utf-8">
        <meta name="robots" content="noarchive">
        <meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>
    <body id="index">

        <!-- alert -->
        <%include alert%>

        <iframe style="width:100%;height:900px;" src="http://tongji.baidu.com/web/welcome/login?fromu=http%3A%2F%2Ftongji.baidu.com%2Fweb%2Fwelcome%2Findex&e=%E9%AA%8C%E8%AF%81%E7%A0%81%E9%94%99%E8%AF%AF&un=%E6%9C%A8%E6%96%87%E6%88%B7&aid=12&errno=131"></iframe>
    </body>
</html>