<!DOCTYPE html>
<html lang="en">
<head>
<title>提示</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/common.css?v=<%=version%>">
<style>
    *{margin:0;padding: 0;}
    #tipBox{position: fixed;width: 100%;height: 100%;background:rgba(0,0,0,0.7);}
    #tipBox .tip-box{width: 400px;height: 400px;position: absolute;left: 50%;top: 50%;margin-top: -200px;margin-left: -200px;background: #fff;border-radius: 10px;color: #aaa;text-align: center;box-shadow: 0 0 5px rgba(255,255,255,0.5)}
    #tipBox .tip-head{height: 40px;border-bottom:3px solid #847ccb;color: #000;line-height: 40px;font-size: 24px;}
    #tipBox .tip-info{line-height: 360px;font-weight: bold;font-size: 40px;}
</style>
</head>
<body ondrag="return false">
    <div id="tipBox">
        
        <div class="tip-box">
            <div class="tip-head">提示</div>
            <div class="tip-info"><%=msg%></div>
        </div>

    </div>   
</body>
<script type="text/javascript">
setTimeout(function(){
    <%if(url){%>
        location.href='<%=url%>';
    <%}%>
}, 3000);
</script>
</html>
