html,body{
    font-family:-apple-system-body, 'Helvetica Neue', Helvetica Neue, 'Helvetica', Helvetica, Arial, sans-serif;
}
#iphone-6{
    -webkit-transform:scale(0.8);
    -webkit-filter: invert(100%);
  -webkit-transition:-webkit-filter 1s ease-in-out;
	transition:filter 1s ease-in-out;
	transition:-webkit-filter 1s ease-in-out;
  width:100%;
  height:100%;
  padding:105px 24px;
  background:#4f4f4f;
  position:absolute;
	top:-74;
	left:-32px;
  display:inline-block;
  -webkit-border-radius:56px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:56px;
  -moz-background-clip:padding;
  border-radius:56px;
  background-clip:padding-box;
  -webkit-box-shadow:inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow:inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow:inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
#iphone-6:before{
  content:'';
  width:calc(100% - 12px);
  height:calc(100% - 12px);
  position:absolute;
  top:6px;
  left:6px;
  background:#0b0b0b;
  z-index:1;
  -webkit-border-radius:50px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:50px;
  -moz-background-clip:padding;
  border-radius:50px;
  background-clip:padding-box;
}
#iphone-6 .power{
  position:absolute;
  right:-3px;
  width:3px;
  height:60px;
  background:#333;
  top:170px;
  -webkit-border-radius:0 2px 2px 0;
  -webkit-background-clip:padding-box;
  -moz-border-radius:0 2px 2px 0;
  -moz-background-clip:padding;
  border-radius:0 2px 2px 0;
  background-clip:padding-box;
}
#iphone-6 .volume-switch{
  position:absolute;
  left:-3px;
  width:3px;
  height:30px;
  background:#333;
  top:110px;
  -webkit-border-radius:2px 0 0 2px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:2px 0 0 2px;
  -moz-background-clip:padding;
  border-radius:2px 0 0 2px;
  background-clip:padding-box;
}
#iphone-6 .volume-plus,
#iphone-6 .volume-minus{
  position:absolute;
  left:-3px;
  width:3px;
  height:60px;
  background:#333;
  top:170px;
  -webkit-border-radius:2px 0 0 2px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:2px 0 0 2px;
  -moz-background-clip:padding;
  border-radius:2px 0 0 2px;
  background-clip:padding-box;
}
#iphone-6 .volume-minus{
  top:260px;
}
#iphone-6 .line-top,
#iphone-6 .line-bottom{
  position:absolute;
  width:100%;
  height:14px;
  background:rgba(0, 0, 0, 0.2);
  left:0;
  top:70px;
}
#iphone-6 .line-bottom{
  top:auto;
  bottom:70px;
}
#iphone-6 .iphone-camera{
  position:absolute;
  top:25px;
  left:50%;
  width:12px;
  height:12px;
  display:inline-block;
  background:#333;
  z-index:4;
  -webkit-border-radius:50%;
  -webkit-background-clip:padding-box;
  -moz-border-radius:50%;
  -moz-background-clip:padding;
  border-radius:50%;
  background-clip:padding-box;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform:translateX(-50%);
}
#iphone-6 .speaker{
  position:absolute;
  top:53px;
  left:50%;
  width:60px;
  height:6px;
  display:inline-block;
  background:#333;
  z-index:4;
  -webkit-border-radius:6px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:6px;
  -moz-background-clip:padding;
  border-radius:6px;
  background-clip:padding-box;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform:translateX(-50%);
}
#iphone-6 .speaker:before{
  content:'';
  position:absolute;
  top:-5px;
  left:-30px;
  width:15px;
  height:15px;
  display:inline-block;
  background:#333;
  -webkit-border-radius:50%;
  -webkit-background-clip:padding-box;
  -moz-border-radius:50%;
  -moz-background-clip:padding;
  border-radius:50%;
  background-clip:padding-box;
}
#iphone-6 .home{
  width:64px;
  height:64px;
  position:absolute;
  z-index:4;
  bottom:16px;
  left:50%;
  -webkit-border-radius:50%;
  -webkit-background-clip:padding-box;
  -moz-border-radius:50%;
  -moz-background-clip:padding;
  border-radius:50%;
  background-clip:padding-box;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform:translateX(-50%);
  background:rgb(75,75,75);
}
#iphone-6 .home:after{
  content:'';
  position:absolute;
  top:3px;
  left:3px;
  width:58px;
  height:58px;
  background:#0b0b0b;
  display:inline-block;
  -webkit-border-radius:50%;
  -webkit-background-clip:padding-box;
  -moz-border-radius:50%;
  -moz-background-clip:padding;
  border-radius:50%;
  background-clip:padding-box;
}
#iphone-6 .screen{
    background:#fff;
    top:-10;
    left:-7px;
  width:104%;
  height:104%;
  position:relative;
  z-index:2;
  overflow:hidden;
  -webkit-box-shadow:0 0 0 3px #111111;
  -moz-box-shadow:0 0 0 3px #111111;
  box-shadow:0 0 0 3px #111111;
  -webkit-border-radius:1px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:1px;
  -moz-background-clip:padding;
  border-radius:1px;
  background-clip:padding-box;
}
#iphone-6 .screen #topbar{
  width:100%;
  height:21px;
  position:absolute;
	top:0%;
	left:0%;
  z-index:10;
  overflow:hidden;
  background:transparent;
	font-size:12px;
	font-weight:500;
	text-align:center;
	line-height:21px;
	color:black;
}
#topbar:before{
  content:'中国移动';
	position:absolute;
	height:21px;
	width:68px;
	top:0%;
	left:6px;
	text-align:left;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAAAwCAMAAACSYFwQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFGxsbw8PD7u7uk5OTRkZGcHBwAAAA////sU1GSwAAAAh0Uk5T/////////wDeg71ZAAABcUlEQVR42tSW27bDIAhEB5D4/39cc2lMCijJeTq8dbVulRnGogZFJFoKsAAoRZU4+iXc5VKwmEIRyiFIneUnRmmGYBmsPyjCAwTrFLAfhQNEErDV9SQdIXnAdh2D4LI8rMJ3hCwvSi6I8AjNVGtFV9zbioCw+ujSMg7cxjuC4BjIsTM7pgOtCDJ9iseByRyYKsgA6rAMhKCPAA5Eceul1FRdXVgYzdfGLNPq+zZd0T9rmlDPfddduy+kPio5z/11J8hRcIu+5k4VR+dmp8J9RtgowfIjXjH3pKN3yIk/UhxpQAhB2OzRcI4RNAkv23d4WqWSJkJoJq10hNBc4ukAwXCiD25WhRe5NVO/rwWLxgTTzpPx8+71l9JIEolq9T/8Mhd1Z8C1cvCNY3AKs6dNNCVnZJDg2X85z+o/IHiNPhV+jejJMQz3AeI6MOBXCFly7xxqiiFv2ymptxY1wZC/+EITT+XMWmqi8rk7dUaoHwEGAKkaTeIIm9CRAAAAAElFTkSuQmCC');
	background-repeat:no-repeat;
	background-size:auto 9px;
	background-position:51px 6px;
}
#topbar:after{
  content:'100%';
	position:absolute;
	height:21px;
	width:58px;
	top:0%;
	right:6px;
	text-align:left;
	font-weight:400;
	line-height:22px;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAATCAMAAAAOJhUTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFNzc3oqKi29vbd3d30dHRAQEBAAAA////uNeYYAAAAAh0Uk5T/////////wDeg71ZAAAAUklEQVR42rzTyREAQQgCQNwRyT/jOTYB+ci/y/KCAtULQjcIpHrJnwC5mjVW4okSm4KqJ2gIjgjiM8WZsS1oixqoYfdhz2pq5/7t+v9h/+AWYAAPNxWVbN/LhwAAAABJRU5ErkJggg==');
	background-repeat:no-repeat;
	background-size:auto 9px;
	background-position:100% 6px;
}

#iphone-6 .screen #mailbox{
  width:100%;
  height:100%;
  position:relative;
  z-index:3;
  overflow:hidden;
  background:white;
}
#mailbox .header{
  width:100%;
  height:64px;
  position:absolute;
	top:0px;
	left:0%;
  z-index:5;
  overflow:hidden;
  background:#f7f7f7;
	border-bottom:1px solid #b2b2b2;
	font-size:17px;
	font-weight:600;
	text-align:center;
	line-height:81px;
	color:black;
}
#mailbox .header:after{
  content:'Mailboxes';
  width:96px;
  height:64px;
  position:absolute;
	top:0%;
	left:8px;
	font-weight:400;
	text-align:right;
	color:#007aff;
	
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAqCAMAAABx2QBSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFTqL9EIL/QZz9LJH+MpT+IIv+AHr/////E4rB3wAAAAh0Uk5T/////////wDeg71ZAAAAl0lEQVR42nTTSw7DIAwE0CmhcP8bB9ISf2bsBZsnWRb2YIpqfT1QMEaTsmATSx9PAQWMnuU6kLsZJHEQ5esgSAAvEZwkMPkkeOXANZMw/EXATxQ8ImGLhiUFTFRgQiu0biCpyE8NEk3xd0CiKG8BJO9KQUIkLqSRJII60UYSCDojInNGkFnchFlQqxLcZeohMndon8stwAD3MhooEHa1mAAAAABJRU5ErkJggg==');
	background-repeat:no-repeat;
	background-size:auto 21px;
	background-position:0px 29px;
}
#mailbox .header:before{
  content:'Edit';
  width:auto;
  height:64px;
  position:absolute;
	top:0%;
	right:8px;
	font-weight:400;
	text-align:right;
	color:#007aff;
}
.iphone-content{
    position:relative;
    width:250px;
    height:426px;
    top:95px;
    left:16px;
}
.iphone-wrap{
    position:relative;
    margin:15px;
    width:calc( 375px * 0.8);
    height:calc( 667px * 0.8);
}
