<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>加入我们</title>
    <link rel="stylesheet" href="/index/css/reset.css" type="text/css"> 
    <!-- <link href='http://fonts.useso.com/css?family=Varela' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="/index/css/robosense.css" type="text/css"> 
</head>
<body>
    <div id="header" class="black">
        <ul id="nav" class="clearfix">
            <li class="logo"><a href="./main"><img src="/index/images/icon/logo.png"></a></li>
            <li class="mainlevel"><a href="two-dimensional-x">X</a></li>
            <li class="mainlevel"><a href="three-dimensional">三维激光雷达</a></li>
            <li class="mainlevel"><a href="two-dimensional">二维激光雷达</a></li>
            <li class="mainlevel"><a href="panorama">全景相机</a></li>
            <li class="mainlevel"><a href="about">关于我们</a></li>
            <li class="mainlevel"><a href="contact">联系我们</a></li>
            <li class="mainlevel"><a href="resource">资源中心</a></li>
        </ul>
      <div class="three-menu">
        <div class="link">
            <a href="./contact" class="button">
                <span class="line line-top"></span>
                <span class="line line-right"></span>
                <span class="line line-bottom"></span>
                <span class="line line-left"></span>
                联系方式
            </a>
        </div>
        <div class="link">
            <a href="./cooperation" class="button">
                <span class="line line-top"></span>
                <span class="line line-right"></span>
                <span class="line line-bottom"></span>
                <span class="line line-left"></span>
                合作加盟
            </a>
        </div>
        <div class="link">
            <a href="./join" class="button active">
                <span class="line line-top"></span>
                <span class="line line-right"></span>
                <span class="line line-bottom"></span>
                <span class="line line-left"></span>
                加入我们
            </a>
        </div>
        <div class="link">
            <a href="./service" class="button">
                <span class="line line-top"></span>
                <span class="line line-right"></span>
                <span class="line line-bottom"></span>
                <span class="line line-left"></span>
                客户服务
            </a>
        </div>
      </div>
    </div>
    <div class="join-wrap">
      <div class="banner"></div>
      <div class="robosense-join">
        <div class="wrap">
          <div>
            <h3>企业简介：</h3>
            <p>
              RoboPano科技有限公司（Suteng Innovation Technology Co.,LTD，简称STI），是全球领先的机器人技术研发及相关设备提供商。<br/>
              目前，公司针对企业级客户自主研发并推出3D扫描仪SEEKER系列与全景扫描仪IPANO系列。是全球领先的专业级三维激光扫描设备提供商，也是首家全景扫描设备供应商。</p>
          </div>
          <div>
            <h3>企业实力：</h3>
            <p>公司总部位于深圳市南山区，研发团队超过50人，博士研究生学历比例超60%，并长期与清华、北大、哈工大、华工等国内一等学府及研究机构保存着人才输送合作和学术研究合作。<br/>
            公司运营中心位于广州市天河区，运营团队由专业营销咨询师组成。<br/>
            目前公司已获得A轮数千万融资，正在快速发展中。</p>
          </div>
          <div>
            <h3>企业理念：</h3>
            <p>公司本着“梦想不断，创新无限”的文化，以“功夫到家”的科研精神竭力发展最顶级、性能最优越的高科技产品，以创新点亮世界未来，致力于提升社会生产力，改变人类生活！</p>
          </div>
          <div>
            <h3>简历投递：</h3>
            <p>深圳总公司：请将简历投递到邮箱：hr@sz-sti.com ，请在邮件主题里标注“姓名-专业-应聘职位”。</p>
          </div>
        </div>
      </div>
    </div>
    
    <div id="footer">
      <div class="w cls">
          <ul class="arlist">
              <h2>产品中心</h2>
              <li><a href="/three-dimensional" title="三维激光雷达">三维激光雷达</a></li>
              <li><a href="/two-dimensional" title="二维系列">二维系列</a></li>
              <li><a href="/panorama" title="全景系列">全景系列</a></li>
          </ul>
          <ul class="arlist">
              <h2>关于我们</h2>
              <li><a href="/about" title="公司简介">公司简介</a></li>
              <li><a href="/contact" title="联系我们">联系我们</a></li>
              <li><a href="/resource" title="资源中心">资源中心</a></li>
          </ul>
          <ul class="arlist2">
              <h2>联系方式</h2>
              <li>深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</li>
              <li>Service@sz-sti.com</li>
              <li>0755-86325830</li>
          </ul>
          <div class="compyright">
              <div class="fl">© 2015 SAGE Multipurpose Theme. Made by idealUI</div>
              <div class="fr">Terms of Use     Privacy Policy</div>
          </div>
      </div>
  </div>
</body>
</html>