<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>深圳速腾聚创科技有限公司</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
<link rel="stylesheet" href="/index/css/swiper.min.css">
<link rel="stylesheet" href="/index/css/animate.min.css">
<link rel="stylesheet" href="/index/css/mobilerecruit.css">
</head>
<body>

    <div class="swiper-container" id="swiper-container-v">
        <section class="poster_wrap load" id="load">
            <div class="p_loading">
                <div class="p_loading_logo"></div>
                <p class="p_loading_tip">深圳速腾聚创科技有限公司</p>
            </div>
        </section>
        <div class="swiper-wrapper">
            <section class="swiper-slide swiper-slide1 swiper-slide-v" >
                <div class="index-top ani" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s" swiper-animate-delay="0s">
                    <div class="logo">
                        <div class="box1">
                            <div class="box2">
                                <img src="/index/images/recruitment/robologo.png" /> 
                            </div>
                        </div>
                    </div>
                    <h1 class="poster_tit clearfix">
                        深圳速腾聚创
                        <!-- <a class="target_Soc_recruit" href="#" id="Soc_recruit">社招</a>
                        <a class="target_Sch_recruit" href="#" id="Sch_recruit">校招</a> -->
                    </h1>
                    <p class="poster_details">实现梦想的舞台</p>
                </div>
                <div class="building ani" swiper-animate-effect="myZoomIn2" swiper-animate-duration="0.6s" swiper-animate-delay="0s"></div>
            </section> 
            <section class="swiper-slide swiper-slide2 swiper-slide-v">
                <ul class="company_intro">
                    <li class="intro1 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0s">
                        <div class="icon"><i></i></div>
                        <p>深圳</p>
                    </li>
                    <li class="intro2 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">
                        <div class="icon"><i></i></div>
                        <p>50-100人</p>
                    </li>
                    <li class="intro3 ani" swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">
                        <div class="icon"><i></i></div>
                        <p>私营</p>
                    </li>
                </ul>
                <h3 class="about_us_tit ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">
                    <i class="about_us_tit_ico"></i>为何加入速腾聚创
                </h3>
                <div class="about_us_msg_p ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s">
                    我们在全球范围内寻找顶尖精英人才，只要你敢想敢做，深圳速腾聚创科技有限公司就是你实现梦想的舞台，在这里你可以尽情彰显个性，释放激情。<br/>
                    只要你是牛人，只要你对梦想有所执着，深圳速腾聚创科技有限公司就是你的归属。<br/>
                    有意者请将个人简历、相关作品等资料发电子邮件至hr@sz-sti.com，合则约见。<br/>
                    （注意：作品文件大小请控制在40M内）
                </div>
            </section>
            <!-- <section class="swiper-slide swiper-slide3 swiper-slide-v">
                <h1 class="abus_head"><i class="about_us_tit_ico"></i>我们的福利</h1>
                <div class="welf_bg">
                    <div class="one ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s"><span>五险一金</span></div>
                    <div class="two ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s"><span>每周双休</span></div>
                    <div class="thr ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>福利待遇好</span></div>
                    <div class="thi ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>发展前景好</span></div>
                    <div class="fiv ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><span>晋升空间大</span></div>
                    <div class="six ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><span>提供培训</span></div>
                </div>
            </section> -->
            <section class="swiper-slide swiper-slide3 swiper-slide-v">
                <h1 class="posit_tit"><i class="about_us_tit_ico"></i><span style="font-size:30px;">社招 </span> —我们招聘的职位</h1>
                <div class="swiper-container ani" id="swiper-container-h" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide1">
                            <div class="posit_details_head">
                                <h3 class="posit_details_tit">图像处理算法工程师</h3>
                                <!-- <span class="posit_details_money"><strong>面议</strong></span>
                                <p class="posit_details_tip">经验不限、学历本科</p> -->
                            </div>
                            <div class="job_details">
                                <!-- <p class="job_address">工作地点：深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</p> -->
                                <h3 class="job_name">职位职责：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1.开发图像识别技术，例如从图像中识别汽车、行人等<br>
                                    2.开发图像配准技术，实现多目相机系统的校正和匹配，从而构建全景漫游系统<br>
                                    3.实现激光点云和图像数据的融合<br>
                                </div>
                                <h3 class="job_name">职位要求：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 计算机科学、图像处理、模式识别、通信工程、数学等相关专业<br>
                                    2. 熟悉基本的图像处理，例如去噪、增强、分割、校正、特征检测及匹配、图像多尺度分析等<br>
                                    3. 熟悉常用的数据结构，了解一些分类、聚类算法，例如 SVM、KNN 等<br> 
                                    4. 具备一定的编程基础，熟悉 c/c++、matlab、python 至少一种，熟悉 opencv 等视觉库<br>
                                    5. 具备良好英文阅读能力，能够搜集和阅读英文文献资料<br> 
                                    6. 具备行人、车辆、标志牌识别经验或者全景相机及全景相关项目者优先考虑
                                </div>
                            </div> 
                            <div class="posit_arrow_bot"></div>           
                        </div>
                        <div class="swiper-slide slide2">
                            <div class="posit_details_head">
                                <h3 class="posit_details_tit">机器学习算法工程师 </h3>
                                <!-- <span class="posit_details_money"><strong>面议</strong></span>
                                <p class="posit_details_tip">经验不限、学历不限</p> -->
                            </div>
                            <div class="job_details">
                                <!-- <p class="job_address">工作地点：深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</p> -->
                                <h3 class="job_name">职位职责：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    负责开发深度学习算法，用于从图像中自动识别车道线、交通标识牌、车牌、行人等的检测
                                </div>
                                <h3 class="job_name">职位要求：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 硕士及以上学历，计算机科学、图像处理、模式识别、通信工程、应用数学等相关专业<br>
                                    2. 熟悉机器学习基本理论，熟悉神经网络结构，对下列算法有一定了解或实践经验（回归、聚 类、分类树、SVM、BP 神经网络、CNN、RNN、RBM等），对最优化算法等熟悉并充满兴趣（梯 度下降、Levenberg-Marquardt、最小二乘等）<br>
                                    3. 了解一些深度学习框架，至少使用过一种（例如但不限于 Caffe、TenserFlow、Torch、Theano、 MXNet 等）<br>
                                    4. 熟悉 C/C++,Lua,Python,Java 中至少一种， 熟悉 OpenCV 等计算机视觉库， 了解 GPU 并行计算<br>
                                    5. 具有良好的英语阅读能力，能够搜集和运用行业相关的前沿技术<br> 
                                    6. 具备神经网络训练经验者、图像处理背景者优先考虑
                                </div>
                            </div> 
                            <div class="posit_arrow_bot"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="job_btn_con ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.1s" swiper-animate-delay="0.5s">
                    <div class="job_btn_list">
                        <a href="#" class="job_btn add" >投个简历</a>
                        <a href="tel:0755-12345678" class="job_btn tel">电话联系</a>
                    </div>
                </div> -->
            </section> 
            <section class="swiper-slide swiper-slide4 swiper-slide-v">
                <h1 class="posit_tit"><i class="about_us_tit_ico"></i><span style="font-size:30px;">校招 </span> —我们招聘的职位</h1>
                <div class="swiper-container ani" id="swiper-container-hh" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide1">
                            <div class="posit_details_head">
                                <h3 class="posit_details_tit">嵌入式工程师</h3>
                                <!-- <span class="posit_details_money"><strong>面议</strong></span>
                                <p class="posit_details_tip">经验不限、学历本科</p> -->
                            </div>
                            <div class="job_details">
                                <!-- <p class="job_address">工作地点：深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</p> -->
                                <h3 class="job_name">职位职责：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    负责基于单片机嵌入式系统的硬件电路设计与嵌入式软件研发
                                </div>
                                <h3 class="job_name">职位要求：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 电子、计算机或软件相关专业，本科以上学历<br>
                                    2. 具有良好的数字电路、模拟电路等专业理论基础知识，掌握EMC、EM等相关知识<br>
                                    3. 熟悉STM32平台、ARM嵌入式平台，FPGA器件，具有较强动手能力<br> 
                                    4. 具有基本的电路板绘制及硬件板级调试能力
                                </div>
                            </div> 
                            <div class="posit_arrow_bot"></div>           
                        </div>
                        <div class="swiper-slide slide2">
                            <div class="posit_details_head">
                                <h3 class="posit_details_tit">光学工程师</h3>
                                <!-- <span class="posit_details_money"><strong>面议</strong></span>
                                <p class="posit_details_tip">经验不限、学历不限</p> -->
                            </div>
                            <div class="job_details">
                                <!-- <p class="job_address">工作地点：深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</p> -->
                                <h3 class="job_name">职位职责：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 负责激光器光路模拟仿真<br/>
                                    2. 激光透镜选型和光路搭建
                                </div>
                                <h3 class="job_name">职位要求：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 从事光学参数的评估并能完成方案设计<br>
                                    2. 从事过激光准直光学系统的设计<br>
                                    3. 能根据结构设计光路，完成公差设计和设计方案评估<br>
                                    4. 能根据结构设计与装调工艺情况，完成光学装配方案<br>
                                    5. 思维严谨,做事认真负责<br> 
                                    6. 具有较强的沟通能力,有良好的团队合作精神
                                </div>
                            </div> 
                            <div class="posit_arrow_bot"></div>
                        </div>
                        <div class="swiper-slide slide3">
                            <div class="posit_details_head">
                                <h3 class="posit_details_tit">图像处理算法工程师</h3>
                                <!-- <span class="posit_details_money"><strong>面议</strong></span>
                                <p class="posit_details_tip">经验不限、学历不限</p> -->
                            </div>
                            <div class="job_details">
                                <!-- <p class="job_address">工作地点：深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</p> -->
                                <h3 class="job_name">职位职责：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 开发图像识别技术，例如从图像中识别汽车、行人等<br/>
                                    2. 开发图像配准技术，实现多目相机系统的校正和匹配，从而构建全景漫游系统<br/>
                                    3. 实现激光点云和图像数据的融合
                                </div>
                                <h3 class="job_name">职位要求：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 计算机科学、图像处理、模式识别、通信工程、数学等相关专业<br>
                                    2. 熟悉基本的图像处理，例如去噪、增强、分割、校正、特征检测及匹配、图像多尺度分析等<br>
                                    3. 熟悉常用的数据结构，了解一些分类、聚类算法，例如SVM、KNN等<br>
                                    4. 具备一定的编程基础，熟悉c/c++、matlab、python至少一种，熟悉opencv等视觉库<br>
                                    5. 具备良好英文阅读能力，能够搜集和阅读英文文献资料<br> 
                                    6. 具备行人、车辆、标志牌识别经验或者全景相机及全景相关项目者优先考虑
                                </div>
                            </div> 
                            <div class="posit_arrow_bot"></div>
                        </div>
                        <div class="swiper-slide slide4">
                            <div class="posit_details_head">
                                <h3 class="posit_details_tit">机器学习算法工程师</h3>
                                <!-- <span class="posit_details_money"><strong>面议</strong></span>
                                <p class="posit_details_tip">经验不限、学历不限</p> -->
                            </div>
                            <div class="job_details">
                                <!-- <p class="job_address">工作地点：深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</p> -->
                                <h3 class="job_name">职位职责：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    负责开发深度学习算法，用于从图像中自动识别车道线、交通标识牌、车牌、行人等的检测
                                </div>
                                <h3 class="job_name">职位要求：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 硕士及以上学历，计算机科学、图像处理、模式识别、通信工程、应用数学等相关专业<br>
                                    2. 熟悉机器学习基本理论，熟悉神经网络结构，对下列算法有一定了解或实践经验（回归、聚类、分类树、SVM、BP神经网络、CNN、RNN、RBM等），对最优化算法等熟悉并充满兴趣（梯度下降、Levenberg-Marquardt、最小二乘等）<br>
                                    3. 了解一些深度学习框架，至少使用过一种（例如但不限于Caffe、TenserFlow、Torch、Theano、MXNet等）<br>
                                    4. 熟悉C/C++, Lua, Python, Java 中至少一种，熟悉OpenCV等计算机视觉库，了解GPU并行计算<br>
                                    5. 具有良好的英语阅读能力，能够搜集和运用行业相关的前沿技术<br> 
                                    6. 具备神经网络训练经验者、图像处理背景者优先考虑
                                </div>
                            </div> 
                            <div class="posit_arrow_bot"></div>
                        </div>
                        <div class="swiper-slide slide5">
                            <div class="posit_details_head">
                                <h3 class="posit_details_tit">激光测距工程师</h3>
                                <!-- <span class="posit_details_money"><strong>面议</strong></span>
                                <p class="posit_details_tip">经验不限、学历不限</p> -->
                            </div>
                            <div class="job_details">
                                <!-- <p class="job_address">工作地点：深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</p> -->
                                <h3 class="job_name">职位职责：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    激光测距产品的设计、研发、调试
                                </div>
                                <h3 class="job_name">职位要求：<!-- <a class="job_name_details" href="#">职位详情&gt;&gt;</a> --></h3>
                                <div class="job_msg">
                                    1. 熟练掌握激光雷达或激光测距的信号处理电路<br>
                                    2. 熟练掌握半导体激光器的高速、窄脉宽、大电流的脉冲驱动电路<br>
                                    3. 熟练掌握微弱光脉冲信号的APD低噪声探测电路
                                </div>
                            </div> 
                            <div class="posit_arrow_bot"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="job_btn_con ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.1s" swiper-animate-delay="0.5s">
                    <div class="job_btn_list">
                        <a href="#" class="job_btn add" >投个简历</a>
                        <a href="tel:0755-12345678" class="job_btn tel">电话联系</a>
                    </div>
                </div> -->
            </section>            
            <!-- <section class="swiper-slide swiper-slide6 swiper-slide-v">     
                <div class="logo">
                    <div class="box1">
                        <div class="box2">
                           <img src="upload/wzp_logo.png"   > 
                        </div>
                    </div>
                </div>
                <p class="praise_tip ani"  swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0s">
                    已有<b>5</b>人觉得这家公司值得加入
                </p>
                <a class="praise_btn ani" href="javascript:;"   swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">
                    <i><em></em></i><span>点赞，值得加入</span>
                </a>
                <a class="praise_share_btn ani" href="javascript:;"   swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">分享给好友</a> 
                <a class="more_position ani" href="#" id="viewmoreinfozp"   swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">查看更多职位&gt;&gt;</a> 
            </section> -->
            <section class="swiper-slide swiper-slide5 swiper-slide-v">     
                <div class="logo ani"  swiper-animate-effect="fadeInDown" swiper-animate-duration="0.3s" swiper-animate-delay="0s">
                    <div class="box1">
                        <div class="box2">
                            <img src="/index/images/recruitment/robologo.png"   > 
                        </div>
                    </div>
                </div>
                <div class="search_posit ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">
                    <div class="search_input_con">
                        <div class="search_input_details">
                            <p style="text-align:center;">电子邮箱：hr@sz-sti.com</p>
                        </div>
                    </div>
                    <a class="search_btn" href="javascript:;"></a>
                </div>
                <a class="search_footer_btn ani" href="tel:0755-86325830"  swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">联系我们</a>  
                <p class="search_footer_tip ani"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">深圳速腾聚创科技有限公司</p>  
            </section>   
            
        </div>
        <div class="arrow-box">
            <img src="/index/images/recruitment/arrow.png" id="array"> 
        </div>    
        <div class="swiper-pagination"></div> 
    </div>

    <script src="/index/js/jquery-1.6.4.min.js"></script>
    <script src="/index/js/swiper.min.js"></script>
    <script src="/index/js/swiper.animate.min.js"></script>
    <script src="/index/js/code.min.js"></script>

</body>
</html>