<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>全景相机</title>
    <link rel="stylesheet" href="/index/css/reset.css" type="text/css"> 
    <!-- <link href='http://fonts.useso.com/css?family=Varela' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="/index/css/robosense.css" type="text/css"> 
    <link rel="stylesheet" href="/index/css/jquery.fullPage.css" type="text/css"> 
</head>
<body>
    <div id="header" class="black">
        <ul id="nav" class="clearfix">
            <li class="logo"><a href="./main"><img src="http://qncdn.sz-sti.com/images/icon/logo.png"></a></li>
            <li class="mainlevel"><a href="/rslidar">多线实时激光雷达</a></li>
            <li class="mainlevel"><a href="three-dimensional">静态三维激光雷达</a></li>
            <!-- <li class="mainlevel"><a href="two-dimensional">二维激光雷达</a></li>
            <li class="mainlevel"><a href="panorama">全景相机</a></li> -->
            <li class="mainlevel"><a href="about">关于我们</a></li>
            <li class="mainlevel"><a href="contact">联系我们</a></li>
            <li class="mainlevel"><a href="resource">资源中心</a></li>
        </ul>
      <div class="three-menu">
        <div class="link">
            <a href="./main" class="button active">
                <span class="line line-top"></span>
                <span class="line line-right"></span>
                <span class="line line-bottom"></span>
                <span class="line line-left"></span>
                返回主页
            </a>
        </div>
      </div>
    </div>
    <div id="robosense">
      <div id="panorama">
        <div>
          <div class="section page_1">
            <div class="wrap clearfix">
              <div class="section_text fl">
                <img src="http://qncdn.sz-sti.com/images/sence/section1_2.png" />
              </div>
              <div class="section_pic fr">
                <img src="http://qncdn.sz-sti.com/images/sence/section1_1.jpg" />
              </div>
            </div>
          </div>
          <div class="section page_2">
            <div class="wrap clearfix">
              <div class="section_pic fl">
                <img src="http://qncdn.sz-sti.com/images/sence/section2_1.jpg" />
              </div>
              <div class="section_text fr">
                <img src="http://qncdn.sz-sti.com/images/sence/section2_2.png" />
              </div>
            </div>
          </div>
          <div class="section page_3">
            <div class="wrap clearfix">
              <div class="section_text">
                <div class="header"><img src="http://qncdn.sz-sti.com/images/sence/section3_2.png" /></div>
                <div class="describe"><img src="http://qncdn.sz-sti.com/images/sence/section3_3.png" /></div>
              </div>
              <div class="section_pic">
                <img src="http://qncdn.sz-sti.com/images/sence/section3_1.png" />
              </div>
            </div>
          </div>
          <div class="section page_4">
            <div class="wrap clearfix">
              <div class="section_pic">
                <img src="http://qncdn.sz-sti.com/images/sence/section4_1.png" />
              </div>
              <div class="section_text">
                <div class="header"><img src="http://qncdn.sz-sti.com/images/sence/section4_2.png" /></div>
                <div class="describe"><img src="http://qncdn.sz-sti.com/images/sence/section4_3.png" /></div>
              </div>
            </div>
          </div>
          <div class="section page_5">
            <div class="wrap clearfix">
              <div class="section_text fl">
                <div class="header"><img src="http://qncdn.sz-sti.com/images/sence/section5_1.png" /></div>
                <div class="describe"><img src="http://qncdn.sz-sti.com/images/sence/section5_2.png" /></div>
                <div class="fr share"><img src="http://qncdn.sz-sti.com/images/sence/section5_3.png" /></div>
              </div>
              <div class="section_pic fr">
                <img src="http://qncdn.sz-sti.com/images/sence/section5_4.jpg" />
              </div>
            </div>
          </div>
          <div class="section page_6">
            <div class="wrap clearfix">
              <div class="section_text fr">
                <div class="header"><img src="http://qncdn.sz-sti.com/images/sence/section6_1.png" /></div>
                <div class="describe"><img src="http://qncdn.sz-sti.com/images/sence/section6_2.png" /></div>
              </div>
            </div>
          </div>
          <div class="section page_7">
            <div class="wrap clearfix">
              <div class="section_text fl">
                <div class="header"><img src="http://qncdn.sz-sti.com/images/sence/section7_1.png?v=2" /></div>
                <div class="describe"><img src="http://qncdn.sz-sti.com/images/sence/section7_2.png?v=2" /></div>
              </div>
            </div>
          </div>
          <div class="section page_8">
            <div class="wrap clearfix">
              <div class="section_text fr">
                <div class="header"><img src="http://qncdn.sz-sti.com/images/sence/section8_1.png?v=2" /></div>
                <div class="describe"><img src="http://qncdn.sz-sti.com/images/sence/section8_2.png?v=2" /></div>
              </div>
            </div>
          </div>
          <div class="section page_9">
            <div class="wrap clearfix">
              <div class="section_text fr">
                <div class="header"><img src="http://qncdn.sz-sti.com/images/sence/section9_1.png" /></div>
                <div class="describe"><img src="http://qncdn.sz-sti.com/images/sence/section9_2.png" /></div>
              </div>
            </div>
          </div>
          <div class="section page_10">
            <div class="wrap clearfix">
              <h4>配件丰富</h4>
              <div class="list clearfix">
                <div class="fl">
                  <img src="http://qncdn.sz-sti.com/images/sence/section10_1.jpg" /><span>便携袋×1</span>
                </div>
                <div class="fl">
                  <img src="http://qncdn.sz-sti.com/images/sence/section10_2.jpg" /><span>三脚架×1</span>
                </div>
                <div class="fl">
                  <p><img src="http://qncdn.sz-sti.com/images/sence/section10_3.jpg" /><span>镜头擦布×1</span></p>
                  <p class="mr_122"><img src="http://qncdn.sz-sti.com/images/sence/section10_4.jpg" /><span>充电器×1</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer">
            <div class="w cls">
                <ul class="arlist">
                    <h2>产品中心</h2>
                    <li><a href="/three-dimensional" title="静态三维激光雷达">静态三维激光雷达</a></li>
                    <!-- <li><a href="/two-dimensional" title="二维系列">二维系列</a></li>
                    <li><a href="/panorama" title="全景系列">全景系列</a></li> -->
                </ul>
                <ul class="arlist">
                    <h2>关于我们</h2>
                    <li><a href="/about" title="公司简介">公司简介</a></li>
                    <li><a href="/contact" title="联系我们">联系我们</a></li>
                    <li><a href="/resource" title="资源中心">资源中心</a></li>
                </ul>
                <ul class="arlist2">
                    <h2>联系方式</h2>
                    <li>深圳市南山区桃源街道留仙大道1213号众冠红花岭工业南区1区速腾科技楼</li>
                    <li>Service@sz-sti.com</li>
                    <li>0755-86325830</li>
                </ul>
                <div class="compyright">
                    <div class="fl">© 2015 SAGE Multipurpose Theme. Made by idealUI</div>
                    <div class="fr">Terms of Use     Privacy Policy</div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="/index/js/jquery.js"></script>
    <script type="text/javascript" src="/index/js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="/index/js/move.js"></script>
    <script type="text/javascript">
        $(function(){
            var timer,flag = true;
            function lock(){
                clearTimeout(timer);
                flag = false;
                timer = setTimeout(function(){
                    flag= true;
                }, 200);                
            }
            $('#panorama').fullpage({
                loopBottom : true,        // 顶部轮滚
                loopTop : true,           // 顶部轮滚
                css3 : true,              // 开启CSS3动画
                scrollingSpeed : 1500,     //页面滚动速度，单位为毫秒
                easing : 'easeIn',        //滚动动画方式
                keyboardScrolling : true, //键盘控制
                navigation : true,        //显示项目导航
                 
                onLeave : function( index,nextIndex,direction ){ 
                    //滚动前的回调函数,index  是离开的“页面”的序号，从1开始计算；nextIndex 是滚动到的“页面”的序号，从1开始计算；direction 判断往上滚动还是往下滚动，值是 up 或 down
                    if( direction=='down' ){
                      move('#header').y(-69).duration('1s').end();
                    }
                    if( direction=='up' ){
                      move('#header').y(0).duration('1s').end();
                    }
                    var robosense = $("#robosense");
                    if ( index===1 && nextIndex===10 ){
                        // robosense.addClass("header");
                        move('#header').y(0).duration('1s').end();
                        return false;
                    }
                    // 底部
                    if ( index===10 && nextIndex===1 ){
                        robosense.addClass("footer");
                        move('#header').y(-69).duration('1s').end();
                        return false;
                    }
                    if ( index===10 && nextIndex===9 && robosense.hasClass("footer") ){
                        lock();
                        robosense.removeClass("footer");
                        return false;
                    }
                    // 返回事件阻塞
                    return flag;
                },
                afterRender : function(){
                    //页面初始化完成后的回调函数
                    // move('#header').y(-69).duration('1s').end();
                    // var robosense = $("#robosense");
                    // robosense.addClass("header");
                    return false;
                }
            })    
        })
    </script>
</body>
</html>